.App {
  text-align: center;
}

form {
  margin-top: 50px;
}
.smurfs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.smurf {
  width: 150px;
  height: 200px;
  border: 1px solid lightgray;
}