.App {
  text-align: center;
  min-height: 100vh;
  
  background-image: url('https://bit.ly/2OR8nMK');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.81);
  background-blend-mode: lighten;

  display: flex;
}

