.form-container {
    width: 50%;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 400px;
        width: 500px;
        margin-top: 50px;
        
        background-color: rgba(238, 238, 238, 0.41);
        background-blend-mode: lighten;

        input {
            width: 250px;
            height: 50px;
            border: none;
            border-bottom: 1px solid black;
            margin: 20px 0;
            background: none;
            font-size: 1.4rem;
        }
        
        button {
            margin-top: 20px;
            width: 100px;
        }
    }

}